<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SetDataSource</title>
    <!--Bootstrap-->
    <link th:href="@{/Bootstrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/Bootstrap/bootstrap-select/dist/css/bootstrap-select.min.css}" rel="stylesheet"/>
    <link th:href="@{/Bootstrap/toastr/toastr.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/Bootstrap/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/Bootstrap/bootstrap-select/dist/js/i18n/defaults-zh_CN.min.js}"></script>
    <script th:src="@{/Bootstrap/toastr/toastr.min.js}"></script>
    <script th:src="@{/js/alertme.js}"></script>
</head>
<body>
<div class="container">
    <div class="text-center">
        <!--style="box-shadow: 1px 1px 1px #888888;background-color:#fffdf5;"-->
        <h2>运行监控</h2>
    </div>
    <div style="padding: 15px;">
        <div class="panel-heading">
            <button type="submit" class="btn btn-primary" onclick="fn_select()">查询</button>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted" style="display: inline">源库抓取线程</div>
            </div>
            <div style="padding: 15px;">
                <table class="table table-striped" style="text-align: center;">
                    <thead>
                    <tr>
                        <td style="font-weight: bold;">数据源库ID</td>
                        <td style="font-weight: bold;">数据源库名</td>
                        <td style="font-weight: bold;">数据库类型</td>
                        <td style="font-weight: bold;">数据库用户名</td>
                        <td style="font-weight: bold;">运行状态</td>
                        <td style="font-weight: bold;">时间</td>
                        <td style="font-weight: bold;">获取数量</td>
                        <td style="font-weight: bold;width: 180px;">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="row : ${runlist}">
                        <td data-th-text="${row.ds_id}"></td>
                        <td data-th-text="${row.ds_name}"></td>
                        <td data-th-text="${row.ds_type}"></td>
                        <td data-th-text="${row.ds_username}"></td>
                        <td data-th-switch="${row.run_stat}">
                            <p data-th-case="3">已停止</p>
                            <p data-th-case="2">正在运行</p>
                            <p data-th-case="4">运行出错</p>
                        </td>
                        <td data-th-text="${row.run_time}"></td>
                        <td data-th-text="${row.catch_num}"></td>
                        <td width="250px">
                            <button class="btn btn-default" type="button" name="options4" id="bt_update"
                                    onclick="return fn_start(this)"> 启动
                            </button>&nbsp;
                            <button class="btn btn-default" type="button" name="options5" id="bt_delete"
                                    onclick="return fn_stop(this)"> 停止
                            </button>&nbsp;
                            <button class="btn btn-default" type="button" name="options6" id="bt_log"
                                    onclick="return fn_getlog(this)"> 日志
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--日志显示页面-->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">运行日志</h4>
            </div>
            <div class="modal-header">
                <textarea id="logtext" style="border: none;width: 99%;" rows="10">无日志</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fn_hide()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
<script type="text/javascript">
    $(function () {
        toastr.options = {
            positionClass: "toast-top-full-width"
        };
    })

    function fn_stop(runinfo) {
        var ps = $(runinfo).parent().siblings();
        var ds_id = ps[0].innerHTML;
        $.ajax({
            url: "/MonitorController/stopRun.do", type: "post", dataType: "json",
            data: {
                "ds_id": ds_id
            },
            success: function (result) {
                if (result.state == 1) {
                    Ewin.confirm({ message: '停止成功!'}).on(function (r) {
                        fn_select();
                    });
                } else {
                    toastr.error("停止失败！\r\n" + result.message)
                }
            },
            error: function (result) {
                toastr.error("调用服务出错！")
            }
        })
    }

    function fn_getlog(runinfo) {
        var ps = $(runinfo).parent().siblings();
        var ds_id = ps[0].innerHTML;
        $.ajax({
            url: "/MonitorController/getLog.do", type: "post", dataType: "json",
            data: {
                "ds_id": ds_id
            },
            success: function (result) {
                if (result.state == 1) {
                    $("#logtext").val(result.message);
                    $('#logModal').modal('show');

                } else {
                    toastr.error("获取日志失败！\r\n" + result.message)
                }
            },
            error: function (result) {
                toastr.error("调用服务出错！")
            }
        })
    }

    function fn_start(runinfo) {
        var ps = $(runinfo).parent().siblings();
        var ds_id = ps[0].innerHTML;
        $.ajax({
            url: "/MonitorController/startRun.do", type: "post", dataType: "json",
            data: {
                "ds_id": ds_id
            },
            success: function (result) {
                if (result.state == 1) {
                    Ewin.confirm({ message: '启动成功!'}).on(function (r) {
                        fn_select();
                    });
                    //toastr.success('启动成功！','ere');
                } else {
                    toastr.error("启动失败！\r\n" + result.message)
                }
            },
            error: function (result) {
                toastr.error("调用服务出错！")
            }
        })
    }

    function fn_select() {
        window.location.reload()
    }
    
    function fn_hide() {
        $('#logModal').modal('hide');
        
    }
</script>
</html>